[KCM Locale]
Name=Amharic
Name[ca]=Amhàric
Name[ca@valencia]=Amhàric
Name[cs]=Amharský
Name[es]=Amhárico
Name[he]=אמהרית
Name[ia]=Amharic
Name[it]=Amarico
Name[ka]=ამჰარული
Name[nl]=Amharisch
Name[pt_BR]=Amárico
Name[sk]=Amharčina
Name[sl]=Amharščina
Name[tr]=Amharca
Name[uk]=Амхарська
